body{
    background-color: rgb(39, 2, 141);
    color: rgb(255, 255, 255);
    font-family:"Playfair Display", serif;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0%;
}
button{
    background-color: #406be0;
    color: rgb(255, 255, 255);
    font-family:"Playfair Display", serif;

}

.passo {
    display: noneA;
}

.passo.ativo{
    display: block;
}
    main {
        max-width: 90%;
        text-align: center;
    }
    img {
        max-width: 80%;
    }
